.choose_colobox .pt-option-checkbox {
	padding-left: 177px !important;
}

.choose_fields .pt-option-checkbox span  {
	display: inline-block;
	margin-top: -1px;
	vertical-align: top;
}

.choose_colobox {
	background-color: #fff;
	-webkit-border-radius: 0 10px 0 10px;
	-moz-border-radius: 0 10px 0 10px;
	border-radius: 0 10px 0 10px;
	margin: 30px 0;
	padding: 10px 30px;
	width: 370px;
	position: relative;
}

.choose_colobox .dragpoint {
	padding: 5px;
	position: absolute;
	top: 0;
	right: 0;
	font-family: 'Calendarize-it';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 25px;
	color: #fff;
	background-color: #bbb;
	-webkit-border-radius: 0 10px 0 10px;
	-moz-border-radius: 0 10px 0 10px;
	border-radius: 0 10px 0 10px;
	cursor: move;
}

.choose_colobox .dragpoint:before {
	content: '\e90d';
}

.rsvp_table {
	width: 50%;
	display: inline-block;
	margin-bottom: 20px;
	float:left;
}

.rsvp_table .rsvp_object {
	display: inline-block;
	width: 40%;
	text-align: right;
}

.rsvp_table .rsvp_item_text {
	display: inline-block;
	width: 60%;
}