@font-face {
	font-family: 'rsvp';
	src:url('flat-ui/fonts/rsvp.eot?-8nm9o6');
	src:url('flat-ui/fonts/rsvp.eot?#iefix-8nm9o6') format('embedded-opentype'),
		url('flat-ui/fonts/rsvp.woff?-8nm9o6') format('woff'),
		url('flat-ui/fonts/rsvp.ttf?-8nm9o6') format('truetype'),
		url('flat-ui/fonts/rsvp.svg?-8nm9o6#rsvp') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="rsvplist-"], [class*=" rsvplist-"] {
	font-family: 'rsvp';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rsvplist-uniE130:before {
	content: "\e130";
}
.rsvplist-uniE15D:before {
	content: "\e15d";
}
.rsvp_dashbord_content {
    margin-top: 10px;
    max-height: 1000px;
    overflow-x: hidden;
    overflow-y: auto;
}
.rsvp_dashbord_content div {
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
    color: #FFFFFF;
}

.rsvp_dashbord_content .rsvp_attending_box {
	position: relative;
}

.rsvp_dashbord_content .rsvp_attending_box:hover .rsvp_attending_sub2  {
	left: 55px;
}

.rsvp_dashbord_content .rsvp_attending_small {
    background-color: #37BB9C;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 22;
    font-family: 'lato';

}
.rsvp_dashbord_content table {
	border-spacing: 1px;
	width: 100%;
}

.rsvp_dashbord_content td {
	background-color: #F1F1F1;
	font-family: 'lato';
}

.rsvp_dashbord_content .rsvp_date {
    color: #777777;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
}

.rsvp_dashbord_content td:nth-child(1) a {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-transform: capitalize;
}

.rsvp_dashbord_content td:nth-child(1) {
	font-family: "Open Sans",sans-serif;
    padding-left: 10px;
    padding-right: 10px;

}


.rsvp_dashbord_content .rsvp_title_main {
	display: block; 
	position: relative; 
	width: 100%;
}

.rsvp_dashbord_content .rsvp_title_sub {
	overflow: hidden; 
	position: absolute; 
	left: 0px; 
	right: 0px; 
	width: 100%; 
	text-overflow: ellipsis; 
	color: #777777;
	text-align: left;
}

.rsvp_dashbord_content td:nth-child(2) {
	width:140px;
	font-family: "Open Sans",sans-serif;
	text-align: center;
}
.rsvp_dashbord_content td:nth-child(3) {
	width:55px;
	font-family: 'lato';
}
.rsvp_dashbord_content td:nth-child(4) {
	width:55px;
	font-family: 'lato';
}
.rsvp_dashbord_content td:nth-child(5) {
	width:55px;
	font-family: 'lato';
}

.rsvp_dashbord_content .rsvp_attending_sub {
    left: 0;
    position: absolute;
    top: 0;
    width: 310px;
    z-index: 20;
    overflow: hidden;
    pointer-events:none;
 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
}

.rsvp_dashbord_content .rsvp_attending_sub2 {
    left: -59px;
    position: absolute;
    font-family: 'lato';
    top: 0;
    width: 200px;
    -webkit-transition: left 500ms;
    -moz-transition: left  500ms;
    -o-transition: left 500ms;
    transition: left 500ms;
    pointer-events:none;
 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
}

.rsvp_dashbord_content .rsvp_maybe_small {
	background-color: #F1C40E; 
	float:left;
	pointer-events:none;
	margin-left: 1px;
	font-family: 'lato';
 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
}


.rsvp_dashbord_content .rsvp_notattending_small {
	background-color: #E74C3B; 
	float:left;
	margin-left: 1px;
	pointer-events:none;
	font-family: 'lato';
 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
}


.rsvp_dashbord_content .rsvp_link_to_list {
	background-color: #7F8C8D; 
	font-size: 32px;
	
}

.rsvp_dashbord_content .rsvp_email_liste {
	background-color: #7F8C8D;
	font-size: 32px;
}

.rsvp_count_object {
    float: left;
    margin-right: 20px;	
}

.rsvp_count_object .rsvp_number_count {
    background-color: darkgray;
    display: inline-block;
    height: 47px;
    min-width: 40px;
    text-align: center;
}

.rsvp_count_object .rsvp_title {
    background-color: lightgray;
    display: inline-block;
    height: 38px;
    padding: 5px 10px;
    vertical-align: top;
}
.rsvp_count_object .limit_count,
.rsvp_count_object .total_count {
    height: 50%;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
}


