/*********** attending list ******************/

@font-face {
	font-family: 'rsvp';
	src:url('flat-ui/fonts/rsvp.eot?-etwuel');
	src:url('flat-ui/fonts/rsvp.eot?#iefix-etwuel') format('embedded-opentype'),
		url('flat-ui/fonts/rsvp.woff?-etwuel') format('woff'),
		url('flat-ui/fonts/rsvp.ttf?-etwuel') format('truetype'),
		url('flat-ui/fonts/rsvp.svg?-etwuel#rsvp') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="rsvplist-"], [class*=" rsvplist-"] {
	font-family: 'rsvp';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cit_rsvp .rsvplist-uniE2C2:before {
	content: "\e2c2";
}




.cit_rsvp .rsvp_attending_list_bg {
	display: none;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	right: 0px;
	left:0px;
	bottom:0px;
	z-index: 111111111;
	background-color: rgba(0,0,0,0.5);
}

.cit_rsvp .rsvp_attending_list_inner {
	display: table;
	opacity: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 890px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.cit_rsvp .rsvp_attending_list_inner2 {
    display: table-cell;
    height: 100%;
    position: relative;
    vertical-align: middle;
}

.cit_rsvp .rsvp_attending_list_main {
    background-color: #F9F9F9;
    border:solid 1px #F3F3F3;
    height: 100%;
    max-height: 90%;
    padding: 35px;
    position: relative;
    width: 100%;
}

.cit_rsvp .rsvp_attending_title {
	color: #424242;
    font-family: 'lato';
    font-size: 26px;
    font-weight: 100;
    margin-top: -10px;
}

.cit_rsvp .rsvp_attending_close {
    cursor: pointer;
    font-size: 35px;
    height: 35px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 35px;
}

.cit_rsvp .rsvp_attending_main_title_container {
	
}

.cit_rsvp .rsvp_attending_posttile {
	color: #4B4B4B;
	font-family: 'lato';
    text-overflow: ellipsis;
    white-space: nowrap;
	color:#4B4B4B;
	text-transform: uppercase;
}

.cit_rsvp .rsvp_attending_name {
	font-family: 'lato';
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -15px;
    text-transform: capitalize;
	color: #4B4B4B;
}


.cit_rsvp .rsvp_attending_postdate {
	font-family: 'lato';
	color: #4B4B4B;
	text-transform: uppercase;
	text-align: right;
}

.cit_rsvp .rsvp_attending_main_data_container {
	opacity: 0;
    bottom: 37px;
    left: 37px;
    overflow: auto;
    position: absolute;
    right: 37px;
    top: 110px;
}

.cit_rsvp .rsvp_attending_main_data_container table {
	width: 100%;
	border-spacing: 2px;
	border: medium none !important;
}

.cit_rsvp .rsvp_attending_main_data_container table tr {
	border: medium none !important;
}

.cit_rsvp .rsvp_attending_main_data_container table tr td {
	vertical-align: middle;
	border: medium none !important;
}

.cit_rsvp .rsvp_attending_main_data_container table tr td:nth-child(1) {
	width:20px;
	color: #4B4B4B;
}

.cit_rsvp .rsvp_attending_main_data_container table tr td:nth-child(2) {
	width:70px;
	padding: 5px 10px 5px 0;
	margin: 0px;
	color: #4B4B4B;
}

.cit_rsvp .rsvp_attending_main_data_container table tr td:nth-child(2) .rvsp_tooltip_start {
	padding: 0px; 
	margin: 0px; 
	height: 60px;
}

.cit_rsvp .rsvp_attending_main_data_container table tr td:nth-child(2) .rvsp_tooltip_start img {
    height: 60px;
    width: 60px;
}




.cit_rsvp .rsvp_attending_main_data_container table tr td:nth-child(4) {
	width:200px;
}

.cit_rsvp .rsvp_attending_main_data_container table tr td:nth-child(5) {
	width:180px;
	color: #4B4B4B;
}

/* Making buttons Lato 300*/
.btn.btn-sm {
    font-weight: 300;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

#rsvp_next.btn.btn-embossed {
    font-size: 13px;
    font-weight: 300;
    padding: 6px 8px;
}

.cit_rsvp .btn.btn-huge.btn-embossed {
    font-weight: 300;
}

/**/
.cit_rsvp .rsvp_title_main .btn-group a {
	color:white;
    font-family: lato;
    font-size: 12px;
    padding: 5px 12px;
}

.cit_rsvp .rsvp_title_main .btn-group a.btn-primary.active:nth-child(1),
.cit_rsvp .rsvp_title_main .btn-group a.btn-primary.active:nth-child(1):hover {
	background-color: #32AE60;
}

.cit_rsvp .rsvp_title_main .btn-group a.btn-primary.active:nth-child(2),
.cit_rsvp .rsvp_title_main .btn-group a.btn-primary.active:nth-child(2):hover {
	background-color: #C0392A;
}

.cit_rsvp .rsvp_title_main .btn-group a.btn-primary:nth-child(1),
.cit_rsvp .rsvp_title_main .btn-group a.btn-primary:nth-child(2) {
	background-color: #BDC3C7;
}


.cit_rsvp .rsvp_title_main {
	display: block; 
	position: relative; 
	width: 100%;
}

.cit_rsvp .rsvp_title_sub {
	overflow: hidden; 
	position: absolute; 
	left: 0px; 
	right: 0px; 
	width: 100%; 
	text-overflow: ellipsis; 
	text-align: left;
	line-height: 30px;
}

/*********** rest ******************/



.cit_rsvp label.rch_h1 {
   font-size: 21px;
    font-weight: normal;
    display: block;
    width: 100%;
    border: 0 none;
    margin: 0 0 20px;
    padding: 0;
    font-family: 'lato';
	
}

.cit_rsvp label.rch_h2 {
    font-weight: normal;
    display: block;
    width: 100%;
    border: 0 none;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
    font-family: 'lato';
}

.cit_rsvp .first {
	margin-left: 0px !important;
	clear: both;
}

.cit_rsvp .bottomspace {
	margin-bottom: 12px;
}


.cit_rsvp .buttoncontrole {
	text-align: right;
	margin-bottom: 15px;
	margin-top: 15px;
}

.cit_rsvp .notopadd {
	margin-top: 0px !important;
}

.cit_rsvp #rsvp_sendemail {
	font-size: 14px;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 400; 
	line-height: 20px;
}


.cit_rsvp .rvsp_tooltip {
	top: 75px;
    font-size: 10px;
    margin-left: -10px;
    position: absolute;
    text-align: center;
    width: 100px;
    z-index: 11;
	 -webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	pointer-events: none;
}

.cit_rsvp .rvsp_tooltip_start {
	float: left; 
	display: block;
	position: relative;
}

.cit_rsvp .rvsp_tooltip_start:hover .rvsp_tooltip  {
	top: 65px;
}

.cit_rsvp .rvsp_tooltip_start:hover .rvsp_tooltip_sub  {
    opacity: 0.9;
    filter: alpha(opacity=90);
    opacity: 0.9;
     -webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	 pointer-events:none;
}

.cit_rsvp .rvsp_tooltip .rvsp_tooltip_sub {
    background-color: #EDEFF1;
    border: 1px solid #D3D3D3;
    border-radius: 5px 5px 5px 5px;
    line-height: 15px;
    opacity: 0.0;
    padding: 5px;
     -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}

.cit_rsvp .rvsp_tooltip_start p {
	margin:0px !important;
	padding:0px !important;
}

.cit_rsvp .avatar {
    border-radius: 42px 42px 42px 42px !important;
    position: relative;
 -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
margin: 4px;
width: 75px;
height: 75px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}

.cit_rsvp .avatar:hover {
    border-radius: 0 0 0 0 !important;
 -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}

.cit_rsvp {
	height: auto;
	font-family: 'Lato';
}

.cit_rsvp .columbox {
	padding:8px 15px;
}

.cit_rsvp .cit_rsvpselect, .cit_rsvp .cit_rsvpselect input {
	cursor: pointer;
}

.cit_rsvp .cit_rsvpselect:hover input {
	border:solid 2px black;
		cursor: pointer;
}




.cit_rsvp .rsvp_scroll {
	overflow:visible;
	margin-right: -5px;
}

.cit_rsvp .rsvp_object {
    color: white;
    font-size: 25px;
    height: 39px;
    left: 10px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

.cit_rsvp .rsvp_namespace {
    color: #ffffff;
    display: block;
    font-family: "Lato";
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 0;
    padding: 20px 50px 20px 60px;
    position: relative;
    text-align: left;
    width: 100%;
}

.cit_rsvp .rsvp_smallnamespace {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
}

.cit_rsvp .rsvp_dropbox {
    background-color: #ebedef;
    border: 1px solid #e6e8ea;
    border-radius: 10px;
    display: block;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.cit_rsvp .cit_rsvpselect li .rsvp_dropbox {
    background-color: #F9F9F9;
    font-size: 12px;
    line-height: 20px;
    padding-left: 3px;
    color: white;
}


.cit_rsvp .cit_rsvpselect li.active .rsvp_dropbox {
	color: black !important;
}



.cit_rsvp .cit_rsvpselect ul {
	padding-left:0px;
	padding-right: 0px;
	margin-bottom: 0;
}

.cit_rsvp .cit_rsvpselect li {
	margin-left:0px;
	margin-bottom:0px;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}

.cit_rsvp .cit_rsvpselect li.disabled {
	opacity: 0.2;
}

.cit_rsvp .cit_rsvpselect li:first-child {
	border-radius: 5px 5px 0px 0px;
}

.cit_rsvp .cit_rsvpselect li:hover .fui-check {
	color: #BBBBBB;
}


.cit_rsvp .cit_rsvpselect li:last-child {
	border-radius: 0px 0px 5px 5px;
}


.cit_rsvp .cit_rsvpselect li.disabled .rsvp_dropbox {
	color: white !important;
}

.cit_rsvp .cit_rsvpselect li.disbled {
	opacity: 0.1;
}

.cit_rsvp .cit_rsvpselect li:hover {
	color: black !important;
}

.cit_rsvp .rsvp_alert_dialog, .cit_rsvp .rsvp_success_dialog {
	display: none;
	margin-top: 15px;
}

.cit_rsvp .alert {
	margin-bottom: 0px !important;
}


.cit_rsvp .rsvp_alert_dialog .text {
	color: #E74C3C;
}



.cit_rsvp .rsvp_number {
    background-color: #3498db;
    border-radius: 50%;
    color: #ffffff;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    min-width: 18px;
    padding: 0 2px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -2px;
    padding-left: 5px;
    padding-right: 5px;
} 

.cit_rsvp .rsvp_stage1done .rsvpname {
text-align: center; vertical-align: middle; font-size: 30px; font-family: 'Lato'; margin-top: 40px;
}

.cit_rsvp .rsvp_stage1done .rsvpdec {
text-align: center; vertical-align: middle; font-size: 20px; font-family: 'Lato'; margin-top: -10px;
}

.cit_rsvp .cit_rsvpselect.rcvpselect input {
	border:solid 2px black;
}

.cit_rsvp .columbox label {
	margin-bottom: 5px;
}

.cit_rsvp .columbox input {
	width:100%;
	margin-top:14px;
}


.cit_rsvp .columbox input[type=checkbox] {
	width:10px;
	margin-right: 5px;
}

.cit_rsvp .columbox a.googleplus {
	float:right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.cit_rsvp .columbox a.linkedin {
	float:right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.cit_rsvp .columbox a.facebook {
	float:right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.cit_rsvp .columbox a.wp {
	float:right;
	color:white;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #2c3e50;
}

.cit_rsvp .columbox a.wp:hover {
	background-color: #34495e;
}

.cit_rsvp .columbox a.twitter {
	float: right;
	margin-bottom: 10px;
	margin-left:10px;
}

.cit_rsvp .columbox a.next {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	 width: auto;
}

.cit_rsvp .columbox textarea {
    height: 150px;
    width: 100%;
    min-height: 100px;
    margin-top: 14px;
}


.cit_rsvp .cit_rsvpselect {
	margin-bottom: 10px;
}


.cit_rsvp .columbox table, .cit_rsvp .columbox tr , .cit_rsvp .columbox td {
	border:none !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding:0px !important;
	margin-bottom:0px !important
}

.cit_rsvp .columbox td {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0px !important;
    vertical-align: top !important;
}

.rsvp_attending_main_data_container .show_more {
	display: block; 
	margin-top: 20px; 
	line-height: 20px; 
	padding-top: 20px; 
	font-size: 10px;
	color:blue;
	cursor: pointer;
}

.rsvp_attending_main_data_container show_more:hover{
	color:darkblue;
}

.rsvp_attending_main_data_container .show_more_object {
	margin-bottom: 20px; 
	display: none;
}

.rsvp_attending_main_data_container .show_more_object small{
	display: block; 
	line-height: 15px; 
	font-size: 11px;

}


@media  screen and (max-width: 766px) {
	
	.cit_rsvp .columbox textarea {
	    max-height: 150px;
	}	
	
	.cit_rsvp .rsvp_attending_list_inner {
	    max-width: 100%;
	}
	
	.cit_rsvp .rsvp_attending_list_main {
	    max-height: 100%;
	}

	.cit_rsvp .rsvp_attending_postdate {
		text-align: left;
	}

	.cit_rsvp label.rch_h2 {
		 margin-top: 10px !important;
	}

	.cit_rsvp .columbox a.facebook {
		float:right;
		margin-left: 0px;
		margin-bottom: 10px;
		width:100%;
		
	}
	
	.cit_rsvp .columbox a.googleplus {
		float: right;
		margin-bottom: 10px;
		width:100%;
	}

	.cit_rsvp .columbox a.linkedin {
		float: right;
		margin-bottom: 10px;
		width:100%;
	}
	
	.cit_rsvp .columbox a.wp {
		float: right;
		margin-bottom: 10px;
		width:100%;
	}			
	
	.cit_rsvp .columbox a.twitter {
		float: right;
		margin-bottom: 10px;
		width:100%;
	}
	
	.cit_rsvp .columbox a.next {
		float: right;
		margin-left: 0px;
		margin-bottom: 10px;
		width:100%;
	}
	
	#wpadminbar #wp-admin-bar-rsvp_list {
		display: block;
	}
	
	.cit_rsvp .rsvp_attending_main_data_container {
	    bottom: 15px;
	    left: 15px;
	    right: -10px;
	    top: 100px;
	}	
	
}

@media  screen and (max-width: 680px) {
	
	.cit_rsvp .rsvp_attending_main_data_container table tr td:nth-child(2) {
		width:0px;
		display: none;
	}

	.cit_rsvp .rsvp_attending_main_data_container table tr td:nth-child(5) {
		width:0px;
		display: none;
	}
	
	.cit_rsvp .rsvp_title_main .btn-group a {
		color:white;
	    font-family: lato;
	    font-size: 12px;
	    padding: 5px 12px;
	}
	
	.cit_rsvp .rsvp_attending_list_main {
	    padding: 15px;
	}
	
	
	.cit_rsvp .rsvp_attending_main_data_container {
    	top: 130px;
	}
	
}

