#rhc-rsvp .pt-option-onoff {
	
}

.rsvp-field-detail  {
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		 -o-transition: all 0.5s ease-in-out;	
			transition: all 0.5s ease-in-out;	
}

.rsvp-field-detail {
	opacity: 1;
}

.rsvp-field-detail.rsvp-row-hidden {
	opacity: 0;
}

.rsvpts-by-date,
.rsvpts-after_end,
.visibility-settings,
.autoschedule-settings {
	opacity: 1;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		 -o-transition: all 0.5s ease-in-out;	
			transition: all 0.5s ease-in-out;	
}

.rsvpts-by-date.rsvpts-hide,
.rsvpts-after_end.rsvpts-hide,
.visibility-settings-hide .visibility-settings,
.autoschedule-settings.autosched-hide {
	opacity: 0;
	height: 0px;
	background-color: rgba(255,0,0,0.3);
	overflow:hidden;
}

.toggle-visibility-settings-holder.visibility-settings-hide .btn_rsvpts_sched_rem {
	display:none;
}

.toggle-visibility-settings-holder .btn_rsvpts_sched_add {
	display:none;
}

.toggle-visibility-settings-holder.visibility-settings-hide .btn_rsvpts_sched_add {
	display:block;
}

.rsvpts-after-group.rsvpts-after-end-no-option .rsvpts-by-date-btn{
	display:none;
}

.rsvp-hide-sched-group,
.rsvpts-by-date-inp {
	display:inline-block;
	min-width: 200px;
}

.tag-row {
	width:100%;
}

.tag-col {
	display:inline-block;
	width:200px;
	margin-right: 16px;
	vertical-align: top;
}

.tag-col-half {
	width: 100px;
}

td [class*="rsvp-btn-"]:focus {
	outline: -webkit-focus-ring-color auto 0px; 
	box-shadow: none;
}

.rsvp-field-detail [class*="rsvp-btn-"] {
	color: #ffffff;
	background-color: #3498db;
	background-image: none;
	border: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: none;
	text-shadow: none;
	margin: 0 0 20px 0;
	padding: 8px 6px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 5px;
}

.rsvp-field-detail [class*="rsvp-btn-"]:hover {
	background-color: #5dade2;
}

[class*="rsvp-btn-"] span:before {
	font-family: 'Calendarize-it';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 25px;
	color: #fff;
	display: inline-block;
	transition: .25s linear;
	-webkit-transition: .25s linear;
	position: relative;
	top: 5px;
}

[class*="rsvp-btn-"] span {
	font-size:0;
	height: 25px;
}

.rsvp-btn-settings span:before {
	content: "\e60e";
}

.rsvp-btn-delete span:before {
	content: "\e60d";
}

.rsvp-btn-sortable span:before {
	content: "\e90d";
}

.rsvp-btn-sortable {
	cursor: all-scroll;
}

.rsvp-btn-group-top-label {
	margin-bottom: 10px;
}

.wp-list-table .rsvp-btn,
.rsvp-btn {
	color: #ffffff;
	background-color: #3498db;
	background-image: none;
	border: 0;
	font-size: 16px;
	font-weight: 300;
	text-shadow: none;
	margin: 5px 2px;
	padding: 6px 15px 8px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-decoration:none;
	border-radius:4px;
	display: inline-block;
}

.wp-list-table .rsvp-btn:hover,
.rsvp-btn:hover {
	background-color: #5dade2;
	color:#fff;
}

.rsvp-btn i:before {
	font-family: 'Calendarize-it';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:20px;
	color: #fff;
	display: inline-block;
	transition: .25s linear;
	-webkit-transition: .25s linear;
	position: relative;
	top: 3px;
	margin-right: 6px;	
}

.rsvp-btn i.icon-circle-plus:before {  
	content:"\e60c";
}

/* 0 - Yes */
.rsvp-btn[data-type="0"] {
	background-color: #1abc9c;
}

.rsvp-btn[data-type="0"]:hover {
   background-color: #16a085;
}

/* 1 - Maybe */
.rsvp-btn[data-type="1"] {
	background-color: #f1c40f;
}

.rsvp-btn[data-type="1"]:hover {
	background-color: #f39c12;
}

/* 2- No */
.rsvp-btn[data-type="2"] {
	background-color: #e74c3c;
}

.rsvp-btn[data-type="2"]:hover {
	background-color: #c0392b;
}

.rsvp-field-container input[type="text"],
.rsvp-field-container input[type="number"] {
	border: 2px solid #bdc3c7;
	color: #34495e;
	font-family: 'Lato', sans-serif;
	line-height: initial;
	padding: 8px 5px;
	text-indent: 6px;
	-webkit-appearance: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear;
	-moz-transition: border .25s linear, color .25s linear;
	-o-transition: border .25s linear, color .25s linear;
	transition: border .25s linear, color .25s linear;
	-webkit-backface-visibility: hidden;
	width: 100%;
	height: auto;
}

textarea.rsvp-input {
	border: 2px solid #bdc3c7;
	color: #34495e;
	font-family: 'Lato', sans-serif;
	padding: 8px 5px;
	text-indent: 6px;
	-webkit-appearance: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear;
	-moz-transition: border .25s linear, color .25s linear;
	-o-transition: border .25s linear, color .25s linear;
	transition: border .25s linear, color .25s linear;
	-webkit-backface-visibility: hidden;
	width: 68%;
}

input.rsvp-input[type="checkbox"] {
	box-shadow: none;
	border-radius: 4px;
	border-width: 2px;
	transition: .25s linear;
	-webkit-transition: .25s linea;
}

input.rsvp-input[type=checkbox]:checked,
input.rsvp-input[type=radio]:checked {
	background-color:#3498db;
	border-color:#3498db;
	border-width: 1px;
}

input.rsvp-input[type=checkbox]:checked:before,
input.rsvp-input[type=radio]:checked:before {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	font: 400 21px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input.rsvp-input[type=checkbox]:checked:before {
	content: '\f147';
	margin: -3px 0 0 -4px;
	color: #fff;
}

input.rsvp-input[type=radio]:checked:before {
	content: '\2022';
}

.rsvp-chk {
	margin: 5px 0;
}

.autoschedule-settings .autoschedule-timestamp-group {
	margin-right: 15px;
}

.rsvpts-date-group.by_date > div {
	width: auto;
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
}

.rhc_enable_rsvp_holder span.pt-label.pt-type-onoff {
	display: none;
}

#poststuff .enable_rsvp_subtitle h3.option-panel-subtitle,
#poststuff .create_fields_subtitle h3.option-panel-subtitle,
#poststuff .additional_settings_subtitle h3.option-panel-subtitle  {
	font-size: 24px;
	font-weight: 400;
	padding: 0;
	margin: 10px 0;
	border-bottom: 1px solid #bdc3c7;
}

#poststuff .enable_rsvp_subtitle h3.option-panel-subtitle:before,
#poststuff .create_fields_subtitle h3.option-panel-subtitle:before,
#poststuff .additional_settings_subtitle h3.option-panel-subtitle:before {
	font-family:'panton', sans-serif;
	font-weight:300;
	background-color: #3498db;
	padding: 9px 0px 0 12px;
	width: 40px;
	height: 40px;
	color: #fff;
	display: inline-block;
	margin-right: 10px;
	box-sizing: border-box;
	line-height: 1;
}
#poststuff .enable_rsvp_subtitle h3.option-panel-subtitle:before {
	content:"1";
}

#poststuff .create_fields_subtitle h3.option-panel-subtitle:before {
	content:"2";
}

#poststuff .additional_settings_subtitle h3.option-panel-subtitle:before {
	content:"3";
}

/* end Numbered Subtitles */

/* General Admin */
.rsvp_enabled_group {
	margin: 0 0 20px;
}

#poststuff .rsvp_enabled_group > h3.option-panel-subtitle {
	padding: 0;
}

table#rhc-rsvp-fields-table {
	margin-bottom: 20px;
	transition: .35s linear;
	-webkit-transition: .35s linear;
	-moz-transition: .35s linear;
}

table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td {
	width: 23.3%;
}

table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td.rsvp-col-limit {
	width: 12%;
}

table.rsvp-loading {
	opacity: .6;
}

#rhc-rsvp input[type="checkbox"] {
	box-shadow: none;
	border-radius: 4px;
	border-width: 2px;
	transition: .25s linear;
	-webkit-transition: .25s linea;
}

#rhc-rsvp input[type=checkbox]:checked,
#rhc-rsvp input[type=radio]:checked {
	background-color:#3498db;
	border-color:#3498db;
	border-width: 1px;
}

#rhc-rsvp input[type=checkbox]:checked:before,
#rhc-rsvp input[type=radio]:checked:before {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	font: 400 21px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#rhc-rsvp input[type=checkbox]:checked:before {
	content: '\f147';
	margin: -3px 0 0 -4px;
	color: #fff;
}

#rhc-rsvp input[type=radio]:checked:before {
	content: '\2022';
	color: #fff;
	background-color: #fff;
	width:6px;
	height:6px;
}

.rsvpts-fees-method {
	position:relative;
	width: 130px;
	height: 38px;
}
.rsvpts-fees-method:after {
	content: "";
	border-width: 6px 4px 0 4px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	position: absolute;
	top: 17px;
	right: 8px;
	pointer-events: none;
}

#rhc-rsvp select,
.rsvp-field-settings select {
	background-color: #3498db;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	border-radius: 4px;
	padding: 8px 20px 8px 12px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: 0.25s linear;
	-webkit-appearance: none;
	transition: 0.25s linear;
	min-width: 130px;
	height: auto;
	color: #fff;
}

.rsvp-field-settings > div {
	margin: 0 0 10px;
}

#rhc-rsvp input[type="text"] {
	border: 2px solid #bdc3c7;
	color: #34495e;
	font-family: 'Lato', sans-serif;
	padding: 8px 5px;
	text-indent: 6px;
	-webkit-appearance: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear;
	-moz-transition: border .25s linear, color .25s linear;
	-o-transition: border .25s linear, color .25s linear;
	transition: border .25s linear, color .25s linear;
	-webkit-backface-visibility: hidden;
	width: 100%;
}

#rhc-rsvp .pop-onoff-control {
	margin: 0;
}

#rhc-rsvp  .rsvp-ref-id {
	font-weight: bold;
	margin: 0 0 5px;
}

#rhc-rsvp .pt-option {
	width: 100%;
	margin: 0 0 10px;
	padding:0;
}

#rhc-rsvp .pt-option.rsvp_enabled_group {
	margin-bottom: 25px;
}

#rhc-rsvp .pt-option.pt-option-subtitle {
	margin-bottom: 0;
}

.rsvp-error {
	margin: 20px 0;
	color: #fff;
	background-color: #e74c3c;
	padding: 20px;
	border-radius: 6px;
}

.rsvp_enabled_group span.pt-label {
	width: 200px;
	display: inline-block;
	font-weight: normal;
}

.rsvp_password span.pt-label.pt-type-text {
	float: none;
	margin: 0;
	padding: 0;
}

.rsvp_enabled_group input#rsvp_listed_1 {
	margin-left: 20px;
}

#rhc-rsvp input#rsvp_password {
	width: auto;
	display: block;
}

/* Save Settings */
.rsvpts-save-btn a.btn_rsvpts_save {
	color: #ffffff;
	background-color: #3498db;
	background-image: none;
	border: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: none;
	text-shadow: none;
	margin: 5px 2px;
	padding: 8px 15px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-decoration: none;
	border-radius: 4px;
	display: inline-block;
	float: right;
}

.rsvpts-save-btn a.btn_rsvpts_save:hover,
.rsvpts-save-btn a.btn_rsvpts_save:focus,
.rsvpts-save-btn a.btn_rsvpts_save:active {
	background-color: #5dade2;
	color:#fff;
}

/* Responsive */
@media screen and (max-width:1232px) {
	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td {
		width:15%;
	}
	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td:first-child {
		width:43%;
	}

	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td:last-child {
		width:100px;
	}

	textarea.rsvp-input {
		width: 58%;
	}
}

@media screen and (max-width:850px) {
	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td {
		width:15%;
	}
	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td:first-child {
		width:50%;
	}

	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td:last-child {
		width:100px;
	}

	textarea.rsvp-input {
		width: 64%;
	}
}


@media screen and (max-width: 782px) {
	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail td {
		width: 18% !important;
		display: table-cell;
		clear: none;
	}
	.wp-admin table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td:frst-child {
		width:50% !important;
	}

	.wp-admin .table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail > td:last-child {
		width:100px !important;
	}

	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-settings > td {
		width: 100% !important;
		display: table-cell;
		clear: none;
	}

	#rhc-rsvp input[type=radio]:checked:before {
		margin: -19px -1px 0;
		font-size: 44px;
	}

	.rsvpts-date-group.by_date > div {
		display: initial;
		vertical-align: initial;
		margin-right: initial;
	}

	textarea.rsvp-input {
		width: 49%;
	}
}

@media screen and (max-width:600px) {
	#rsvp_enable_group #rhc-rsvp-fields-table thead {
		display:none;
	}

	#rsvp_enable_group #rhc-rsvp-fields-table tbody td {
		padding-left: 90px;
	}

	#rsvp_enable_group #rhc-rsvp-fields-table td:before {
		content: attr(data-th);
		margin-top: 11px;
	}

	.wp-list-table .rsvp-btn, .rsvp-btn {
		width: 99%;
		display: block;
		box-sizing: border-box;
	}

	#rhc-rsvp select, .rsvp-field-settings select {
		display: block;
		width: 100%;
		margin: 7px 0 0;
	}

	.rsvp_enabled_group span.pt-label {
		margin: 5px 0;
	}
	
	.meta-box-sortables #rhc-rsvp .description {
		float: none;
		max-width: 98%;
		box-sizing: border-box;
	}
	
	#rhc-rsvp .pt-option.pt-option-onoff {
		text-align:center;
	}
	
	#rhc-rsvp .pt-option.pt-option-onoff .pop-onoff-control {
		float:none;
	}
}


@media screen and (max-width: 480px) {
   table#rhc-rsvp-fields-table thead tr th {
		position:absolute;
		left:-100%
	}
	table#rhc-rsvp-fields-table tbody.rsvp-field-container {
		width:100%;
	}
	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail td:last-child {
		border-bottom: 1px solid #ccc;
	}
	table#rhc-rsvp-fields-table tbody.rsvp-field-container tr.rsvp-field-detail td {
		width: 100% !important;
		display: block;
		clear: both;
		box-sizing: border-box;
	}
	table#rhc-rsvp-fields-table .rsvp-field-settings > td {
		border-bottom: 1px solid #ccc;
	}
	
	#rhc-rsvp input[type=radio]:checked:before {
		margin: -14px 0 0 1px;
		font-size: 37px;
	}
	#rhc-rsvp input[type=checkbox]:checked:before {
		margin: -6px 0 0 -8px;
		font-size: 37px;
	}
	.tag-col {
		width: 40%;
	}
	.wp-list-table .rsvp-btn, .rsvp-btn {
		width:100%;
		box-sizing: border-box;
	}
	.rsvpts-save-btn a.btn_rsvpts_save {
		width:100%;
		box-sizing: border-box;
		text-align: center;
		float: none;
		margin: 5px 0 0;
	}

	textarea.rsvp-input {
		width: 100%;
	}
}

.rsvp-event-not-owned .rsvp-btn-group-top,
.rsvp-event-not-owned tfoot,
.rsvp-event-not-owned .rsvp-btn-settings,
.rsvp-event-not-owned .rsvp-btn-delete {
	display:none;
}

.rsvp-enabled .rsvp-show-when-enabled {
}

.rsvp-not-enabled .rsvp-show-when-enabled {
	display:none;
}

.rsvp-field-container.sortable-chosen {
	background-color: #f1f1f1;
	opacity: .5;
}

.rsvp-field-container.sortable-drag {
	background-color: #fff;
	opacity: 1;
}