#rhcsco-settings .pt-label {
	display:inline-block;
	min-width: 200px;
}

.pt-option .pt-label {
    width: 200px;
}

.network_order_holder {
	width:380px;
}

.network_order_item {
	cursor: move;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	padding: 6px;
	margin:5px;
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}

.network_order_item:hover {
	background-image: none;
}

.network_order_item.sco-wp:hover {
    background-color: #21759b;
    color: #fff;
}

.network_order_item.sco-facebook:hover {
    background-color: #2f4b93;
    color: #ffffff;
}

.network_order_item.sco-googleplus:hover {
    background-color: #c0392b;
    color:#ffffff;
}

.network_order_item.sco-microsoft:hover {
    background-color: #2c3e50;
    color:#ffffff;
}

.network_order_item.sco-twitter:hover {
    background-color: #00bdef;
    color:#ffffff;
}

.network_order_item.sco-linkedin:hover {
    background-color: #007bb6;
    color:#ffffff;
}

.network_order_item.sco-vk:hover {
	background-color: #537AA9;
	color:#fff;
}

.network_order_item.sco-instagram:hover {
	background-color: #0d3c5f;
	color:#fff
}

.network_order_item.sco-yahoo:hover {
	background-color: #550a76;
	color:#fff;
}

.network_order_item.sco-dropbox:hover {
	background-color: #0062b2;
	color:#fff;
}

.network_order_item.sco-tumblr:hover {
	background-color: #273f56;
	color:#fff;
}

.network_order_item.sco-vimeo:hover {
	background-color: #9dcd35;
	color:#fff;
}

.network_order_item.sco-reddit:hover {
	background-color: #dd3c00;
	color:#fff;
}

.network_order_item.sco-yandex:hover {
	background-color: #eebe00;
	color:#fff;
}

.network_order_item.sco-github:hover {
	background-color: #6cc644;
	color:#fff;
}

.network_order_item.sco-flickr:hover {
	background-color: #ff0084;
	color:#fff;
}

.network_order_item.sco-disqus:hover {
	background-color: #2e9fff;
	color:#fff;
}

.network_order_item.sco-bitbucket:hover {
	background-color: #205081;
	color:#fff;
}

.network_order_item.sco-mailru:hover {
	background-color: #168de2;
	color:#fff;
}

.network_order_item.sco-envato:hover {
	background-color: #82b541;
	color:#fff;
}

.network_order_item.sco-dribbble:hover {
	background-color: #ea4c89;
	color:#fff;
}

.network_order_item.sco-pinterest:hover {
	background-color: #cb2028;
	color:#fff;
}

.network_order_item.sco-baidu:hover {
	background-color: #de0f17;
	color:#fff;
}

.network_order_item.sco-naver:hover {
	background-color: #23b300;
	color:#fff;
}